<div class="row">
    <ui-gmap-google-map ng-if="map.center.latitude" center='map.center' zoom='map.zoom'>
        <ui-gmap-marker
                ng-repeat="marker in markers"
                coords="marker.coords"
                idkey="marker.id"
                events="map.markersEvents"
                options="{icon:marker.icon}">
            <ui-gmap-window show="map.window.show" coords="map.window.model" closeClick="'map.window.closeClick'">
                <p>Tweet: {{ marker.title }}<br />When: {{ marker.created|date:"medium" }}</p>
            </ui-gmap-window>
        </ui-gmap-marker>
    </ui-gmap-google-map>
</div>
<nav class="navbar navbar-default navbar-fixed-bottom">
    <form name="form" role="form" novalidate ng-submit="main.search()">
        <div class="col-sm-6">
            <input name="search" class="form-control" placeholder="City name" autofocus ng-model="main.data.search"
                   autocomplete="off"/>
        </div>
        <div class="col-sm-3">
            <input type="submit" class="btn btn-primary btn-block" value="Search"/>
        </div>
    </form>
    <div class="col-sm-3">
        <div uib-dropdown>
            <button uib-dropdown-toggle class="btn btn-block">History</button>
            <ul uib-dropdown-menu class="col-sm-12">
                <li ng-repeat="item in previous">
                    <button class="btn btn-block btn-default" ng-click="main.history(item.city)">{{ item.city }}
                    </button>
                </li>
            </ul>
        </div>
    </div>
</nav>